<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Create new incident
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Incident Type:</label>
                            <select class="form-control" style="width: 100%;" ng-model="incidentDetails.incident_type">
                                <option ng-repeat="type in incidentTypes">{{type}}</option>
                            </select>
                        </div><!-- /.form-group -->
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Time:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control timepicker" id="new_incident_time">
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="form-group">
                            <label>Location:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-location-arrow"></i>
                                </div>
                                <input id="autocomplete" placeholder="Enter the location" type="text" class="form-control" ng-model="incidentDetails.incident_address">
                            </div>
                            <div class="input-group" id="map" style="height: 500px;width: 100%">
                            </div>
                        </div><!-- /.form group -->
                        <div class="form-group">
                            <label>Contact Name:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control" ng-model="incidentDetails.incident_contactName">
                            </div>

                        </div><!-- /.form group -->
                        <!-- phone mask -->
                        <div class="form-group">
                            <label>Contact Number:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input id="phoneInput" type="text" class="form-control"
                                       data-inputmask='"mask": "9999 9999"' ng-model="incidentDetails.incident_contactNo">
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                        <div class="form-group">
                            <label>Description (optional):</label>
                            <textarea class="form-control" ng-model="incidentDetails.incident_description"></textarea>
                        </div><!-- /.form group -->
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary btn-block btn-flat" ng-click="submitNewIncident(incidentDetails)">Submit</button>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col (left) -->
        </div><!-- /.row -->

    </section><!-- /.content -->

</div><!-- /.content-wrapper -->


<script>
    function initAutocomplete($scope) {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 1.290270, lng: 103.851959},
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('autocomplete');
        var searchBox = new google.maps.places.SearchBox(input);
//        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            incident_longitude = places[0].geometry.location.lng();
            incident_latitude = places[0].geometry.location.lat();

            // Clear out the old markers.
            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
            map.setZoom(17);
        });
    }

    function convertToTimestamp () {
        var time_str = $("#new_incident_time").val();

        var parts = time_str.split(' ');
        var time_parts = parts[0].split(':');

        var hour = parseInt(time_parts[0]);
        var minute = parseInt(time_parts[1]);

        if (parts[1] == "PM"){
            hour += 12;
        }

        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth() + 1;
        var year = today.getFullYear();

        if(month < 10){
            month = '0' + month;
        }

        if(day < 10){
            day = '0' + day;
        }

        var result = year + '-' + month + '-' + day + ' ' + hour + ":" + minute + ':00';

        console.log(result);
    }

    $(function () {
        $(".timepicker").timepicker({
            showInputs: false
        });
        $("#phoneInput").inputmask();

        initAutocomplete();
    });


</script>


