
<div class="login-box">
    <div class="login-logo">
        <a href="public/public.html"><b>CMS</b><p>Crisis Management System</p></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form action="/">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" ng-model="credentials.user_email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="credentials.user_password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat" ng-click="login(credentials)">Sign In</button>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </form>
    </div><!-- /.login-box-body -->
    <div class="callout callout-danger" ng-show="errorMsg">
        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
        <p>{{errorMsg}}</p>
    </div>
</div><!-- /.login-box -->








