<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Update incident
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Search incident with contact name or contact number:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                        <div ng-init="getAllIncidents()"></div>
                        <table class="table table-bordered">
                            <tr>
                                <th>Incident Type</th>
                                <th>Contact Name</th>
                                <th>Contact Number</th>
                                <th>Status</th>
                                <th style="width:10px">Edit</th>
                            </tr>
                            <tr ng-repeat="i in allIncidents | filter:searchText">
                                <td>{{i.incident_type}}</td>
                                <td>{{i.incident_contactName}}</td>
                                <td>{{i.incident_contactNo}}</td>
                                <td>{{i.incident_status}}</td>
                                <td><button class="btn btn-sm btn-default"  ui-sref=".edit({incidentID:i.incident_id})"><i class="fa fa-pencil"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.col (left) -->
            <div ui-view>
            </div><!-- /.col (right) -->
        </div><!-- /.row -->

    </section><!-- /.content -->



</div><!-- /.content-wrapper -->