<div id="divMain" class="skin-blue sidebar-mini" ng-init="getAllIncidents();getIncidentsForMap(); getSystemLog(); initMap();getAllFeedbacks();">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <span class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">CMS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">Crisis Management</span>
            </span>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/app/index.html#/login" style="color: white">Log in</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>

        <div class="content-wrapper" style="margin-left: 0">
            <section class="content-header">
                <h1>Crisis Management System <small>Dashboard (public)</small></h1>
            </section>

            <section class="content">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="ion ion-android-warning"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Current Crises</span>
                                <span class="info-box-number crisis"></span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="ion ion-ios-cloudy-night"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Weather Forecast</span>
                                <span class="info-box-number weather" id="api-weather"></span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="ion ion-ios-speedometer"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">PSI</span>
                                <span class="info-box-number psi" id="api-psi">
                                    <span class="national">National: <div></div></span>
                                    <span class="central">Central: <div></div></span>
                                    <span class="north">North: <div></div></span>
                                    <span class="south">South: <div></div></span>
                                    <span class="west">West: <div></div></span>
                                    <span class="east">East: <div></div></span>
                                </span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <i class="fa fa-map-o"></i>
                                    <h3 class="box-title">Crisis Map</h3>
                                </div>

                                <div class="box-body no-padding">
                                    <div class="row" style="margin: 0px">
                                        <div id="map-container" >
                                            <div class="pad">
                                                <div id="crisis-google-map" style="height: 325px; position: relative; overflow: hidden;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div id="map-label-all" class="col-md-2 col-xs-12">
                                            <div class="description-block border-right">
                                                <div class="description-block border-right text-green" style="margin-top: 18px">
                                                    <span>Show All</span>
                                                </div><!-- /.description-block -->
                                            </div><!-- /.description-block -->
                                        </div><!-- /.col -->
                                        <div id="map-label-accident" class="col-md-2 col-sm-6 col-xs-12">
                                            <div class="description-block border-right">
                                                <span><img src="images/Traffic Accident-pin.png" />Traffic Accident</span>
                                                &nbsp;
                                                <span class="label bg-yellow map-label-number"></span>
                                            </div><!-- /.description-block -->
                                        </div><!-- /.col -->
                                        <div id="map-label-fire" class="col-md-2 col-sm-6 col-xs-12">
                                            <div class="description-block border-right">
                                                <span><img src="images/Fire-pin.png" />Fire</span>
                                                &nbsp;
                                                <span class="label bg-red map-label-number"></span>
                                            </div><!-- /.description-block -->
                                        </div><!-- /.col -->
                                        <div id="map-label-gas" class="col-md-2 col-sm-6 col-xs-12">
                                            <div class="description-block border-right">
                                                <span><img src="images/Gas Leak-pin.png" />Gas Leak</span>
                                                &nbsp;
                                                <span class="label bg-gray map-label-number"></span>
                                            </div><!-- /.description-block -->
                                        </div><!-- /.col -->
                                        <div id="map-label-riot" class="col-md-2 col-sm-6 col-xs-12">
                                            <div class="description-block border-right">
                                                <span><img src="images/Riot-pin.png" />Riot</span>
                                                &nbsp;
                                                <span class="label bg-blue map-label-number"></span>
                                            </div><!-- /.description-block -->
                                        </div><!-- /.col -->
                                        <div class="col-md-1"></div>
                                    </div><!-- /.row -->

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                        <div class="box">
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <i class="fa fa-calendar"></i>
                                    <h3 class="box-title">Timeline</h3>

                                    <div class="box-tools pull-right">
                                        <ul class="pagination pagination-sm inline">
                                            <li><button class="btn btn-sm btn-default btn-flat" ng-disabled="config.currentPage == 0" ng-click="config.currentPage=config.currentPage-1"> Prev </button></li>
                                            <li><button class="btn btn-sm btn-default btn-flat" ng-disabled="config.currentPage >= assignedIncidents.length/config.pageSize - 1" ng-click="config.currentPage=config.currentPage+1"> Next </button></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <ul class="timeline">

                                        <li class="time-label" ng-repeat-start="incident in allIncidents | startFrom: config.currentPage*config.pageSize | limitTo: config.pageSize">
                                                <span class="bg-red" ng-show="updateDate(incident) || $index == 0">
                                                    {{incident.date}}
                                                </span>
                                        </li>
                                        <li ng-repeat-end>
                                            <!-- timeline icon -->
                                            <i class="fa fa-exclamation bg-blue"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i> {{incident.time}}</span>

                                                <h3 class="timeline-header" ng-click="openMapModal(incident)"><a>Incident  {{incident.incident_type}}@{{incident.incident_address}} is <span ng-if="incident.incident_status == 'INITIATED'">added</span><span ng-if="incident.incident_status == 'APPROVED'">approved</span><span ng-if="incident.incident_status == 'REJECTED'">rejected</span></a></h3>

                                                <div class="timeline-body">
                                                    {{incident.incident_description}}
                                                </div>
                                            </div>
                                        </li>
                                        <!-- END timeline item -->
                                        <li>
                                            <i class="fa fa-clock-o bg-gray"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </div>

</div>

<script>
    $(function () {
        $("#divButton").click(function(){
            var screenSizes = $.AdminLTE.options.screenSizes;
            if ($(window).width() > (screenSizes.sm - 1)) {
                $("#divMain").toggleClass("sidebar-collapse");
            }
            //Handle sidebar push menu for small screens
            else {
                $("#divMain").toggleClass("sidebar-open");
            }
        });
    });
</script>
