<div class="row" ng-init="getAllIncidents();getIncidentsForMap(); getAllAgencies();getAllFeedbacks();">

    <div class="col-lg-6 col-sm-12">
        <div class="box box-default">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Feedback Log</h3>
                <div class="box-tools pull-right">
                    <ul class="pagination pagination-sm inline">
                        <li><button class="btn btn-sm btn-default btn-flat" ng-disabled="feedbackConfig.currentPage == 0" ng-click="feedbackConfig.currentPage=feedbackConfig.currentPage-1"> Prev </button></li>
                        <li><button class="btn btn-sm btn-default btn-flat" ng-disabled="feedbackConfig.currentPage >= pendingFeedbacks.length/feedbackConfig.pageSize - 1" ng-click="feedbackConfig.currentPage=feedbackConfig.currentPage+1"> Next </button></li>
                    </ul>
                </div>
            </div>
            <div class="box-body">
                <div class="box collapsed-box"
                     ng-repeat="feedback in pendingFeedbacks | startFrom: feedbackConfig.currentPage*feedbackConfig.pageSize | limitTo: feedbackConfig.pageSize">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <small class="label label-danger ">Pending</small>
                            From: {{feedback.feedback_agency}} ({{feedback.feedback_timestamp}})
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body" style="display: none;">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>Incident: </th>
                                <td>{{feedback.incident.incident_type}} @ {{feedback.incident.incident_address}}</td>
                            </tr>
                            <tr>
                                <th>Description:</th>
                                <td>{{feedback.feedback_description}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div><!-- /.box-body -->

                    <div class="box-footer" display="none">

                        <button type="button" class="btn btn-success pull-right" ng-click="review(feedback)">Review</button>
                    </div>
                </div><!-- /.box -->

                <div class="box collapsed-box"
                     ng-repeat="feedback in reviewedFeedbacks" ng-hide="config.showPendingOnly">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <small class="label label-success ">Reviewed</small>
                            From {{feedback.feedback_agency}} @{{feedback.feedback_timestamp}}
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body" style="display: none;">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>Incident</th>
                                <td>{{feedback.incident.incident_type}} @ {{feedback.incident.incident_address}}</td>
                            </tr>
                            <tr>
                                <th>Description:</th>
                                <td>{{feedback.feedback_description}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>

            <div class="box-footer">
                <div class="checkbox pull-right">
                    <label>
                        <input type="checkbox" ng-model="config.showPendingOnly">
                        Show <small class="label label-danger">Pending</small> crises only
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>