<div class="row" ng-init="getAllIncidents();getIncidentsForMap(); initMap();getAllAgencies();getAllFeedbacks();">
    <div class="col-lg-6 col-sm-12">
        <div class="box">
            <div class="box box-success">
                <div class="box-header with-border">
                    <i class="fa fa-map-o"></i>
                    <h3 class="box-title">Incident Map</h3>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <label>Incident Date Range:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="reservation">
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->

                    <div class="row" style="margin: 0px">
                        <div id="map-container" >
                            <div class="pad">
                                <div id="crisis-google-map" style="height: 450px; position: relative; overflow: hidden;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="map-label-all" class="row nav navbar-nav" style="width: 100%;">
                        <div class="dropdown notifications-menu">
                            <a href="" class="description-block border-right text-green dropdown-toggle" data-toggle="dropdown">
                                <span>Show All</span>
                            </a><!-- /.description-block -->
                            <ul class="dropdown-menu" style="width: 100%;">
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">

                                        <li>
                                            <a ng-click="showInitiatedIncidents()">
                                                <i class="fa fa-plus text-blue"></i> New Incoming Incidents
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showApprovedIncidents()">
                                                <i class="fa fa-spinner text-yellow"></i> Ongoing Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showClosedIncidents()">
                                                <i class="fa fa-check text-green"></i> Resolved Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showRejectedIncidents()">
                                                <i class="fa fa-times text-red"></i> Cancelled Incidents
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.description-block -->
                    </div><!-- /.col -->

                    <div class="row nav navbar-nav" style="width: 100%;">
                        <div id="map-label-accident" class="col-md-3 col-sm-6 dropdown notifications-menu">
                            <a class="description-block border-right dropdown-toggle" data-toggle="dropdown">
                                <span><img src="images/Traffic Accident-pin.png" />Traffic Accident</span>
                            </a>
                            <ul class="dropdown-menu" >
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">

                                        <li>
                                            <a ng-click="showInitiatedIncidents('Traffic Accident')">
                                                <i class="fa fa-plus text-blue"></i> New Incoming Incidents
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showApprovedIncidents('Traffic Accident')">
                                                <i class="fa fa-spinner text-yellow"></i> Ongoing Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showClosedIncidents('Traffic Accident')">
                                                <i class="fa fa-check text-green"></i> Resolved Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showRejectedIncidents('Traffic Accident')">
                                                <i class="fa fa-times text-red"></i> Cancelled Incidents
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.col -->
                        <div id="map-label-fire" class="col-md-3 col-sm-6 dropdown notifications-menu">
                            <a href="" class="description-block border-right dropdown-toggle" data-toggle="dropdown">
                                <span><img src="images/Fire-pin.png" />Fire</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">

                                        <li>
                                            <a ng-click="showInitiatedIncidents('Fire')">
                                                <i class="fa fa-plus text-blue"></i> New Incoming Incidents
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showApprovedIncidents('Fire')">
                                                <i class="fa fa-spinner text-yellow"></i> Ongoing Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showClosedIncidents('Fire')">
                                                <i class="fa fa-check text-green"></i> Resolved Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showRejectedIncidents('Fire')">
                                                <i class="fa fa-times text-red"></i> Cancelled Incidents
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.col -->
                        <div id="map-label-gas" class="col-md-3 col-sm-6 dropdown notifications-menu">
                            <a href="" class="description-block border-right dropdown-toggle" data-toggle="dropdown">
                                <span><img src="images/Gas Leak-pin.png" />Gas Leak</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">

                                        <li>
                                            <a ng-click="showInitiatedIncidents('Gas Leak')">
                                                <i class="fa fa-plus text-blue"></i> New Incoming Incidents
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showApprovedIncidents('Gas Leak')">
                                                <i class="fa fa-spinner text-yellow"></i> Ongoing Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showClosedIncidents('Gas Leak')">
                                                <i class="fa fa-check text-green"></i> Resolved Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showRejectedIncidents('Gas Leak')">
                                                <i class="fa fa-times text-red"></i> Cancelled Incidents
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.col -->
                        <div id="map-label-riot" class="col-md-3 col-sm-6 dropdown notifications-menu">
                            <a href="" class="description-block border-right dropdown-toggle" data-toggle="dropdown">
                                <span><img src="images/Riot-pin.png" />Riot</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">

                                        <li>
                                            <a ng-click="showInitiatedIncidents('Riot')">
                                                <i class="fa fa-plus text-blue"></i> New Incoming Incidents
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showApprovedIncidents('Riot')">
                                                <i class="fa fa-spinner text-yellow"></i> Ongoing Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showClosedIncidents('Riot')">
                                                <i class="fa fa-check text-green"></i> Resolved Incidents/Crises
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="showRejectedIncidents('Riot')">
                                                <i class="fa fa-times text-red"></i> Cancelled Incidents
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="box">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title">Timeline</h3>

                    <div class="box-tools pull-right">
                        <ul class="pagination pagination-sm inline">
                            <li><button class="btn btn-sm btn-default btn-flat" ng-disabled="feedbackConfig.currentPage == 0" ng-click="feedbackConfig.currentPage=feedbackConfig.currentPage-1"> Prev </button></li>
                            <li><button class="btn btn-sm btn-default btn-flat" ng-disabled="feedbackConfig.currentPage >= allFeedbacks.length/feedbackConfig.pageSize - 1" ng-click="feedbackConfig.currentPage=feedbackConfig.currentPage+1"> Next </button></li>
                        </ul>
                    </div>
                </div>

                <div class="box-body">
                    <ul class="timeline">

                        <!-- timeline time label -->
                        <li class="time-label" ng-repeat-start="feedback in allFeedbacks | startFrom: feedbackConfig.currentPage*feedbackConfig.pageSize | limitTo: feedbackConfig.pageSize">
                            <span class="bg-red" ng-show="updateDate(feedback) || $index == 0">
                                {{feedback.date}}
                            </span>
                        </li>
                        <!-- /.timeline-label -->

                        <!-- timeline item -->
                        <li>
                            <!-- timeline icon -->
                            <i class="fa fa-comment bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> {{feedback.time}}</span>

                                <h3 class="timeline-header">
                                    {{feedback.feedback_agency}} sent a feedback for
                                    <a ng-click="openMapModal(feedback.incident)">
                                        {{feedback.incident.incident_type}} @ {{feedback.incident.incident_address}}
                                    </a>
                                </h3>

                                <div class="timeline-body">
                                    {{feedback.feedback_description}}
                                </div>
                            </div>
                        </li>

                        <li ng-repeat-end>
                            <!-- timeline icon -->
                            <i ng-if="feedback.incident.incident_status == 'INITIATED'" class="fa fa-plus bg-yellow"></i>
                            <i ng-if="feedback.incident.incident_status == 'APPROVED'" class="fa fa-exclamation bg-red"></i>
                            <i ng-if="feedback.incident.incident_status == 'REJECTED'" class="fa fa-times bg-gray"></i>
                            <i ng-if="feedback.incident.incident_status == 'CLOSED'" class="fa fa-check bg-green"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> {{feedback.incident.time}}</span>

                                <h3 class="timeline-header">
                                    <a ng-click="openMapModal(feedback.incident)">
                                        {{feedback.incident.incident_type}} @ {{feedback.incident.incident_address}}
                                    </a>
                                        is
                                    <span ng-if="feedback.incident.incident_status == 'INITIATED'">reported</span>
                                    <span ng-if="feedback.incident.incident_status == 'APPROVED'">declared</span>
                                    <span ng-if="feedback.incident.incident_status == 'REJECTED'">cancelled</span>
                                    <span ng-if="feedback.incident.incident_status == 'CLOSED'">resolved</span>
                                </h3>

                                <div class="timeline-body">
                                    {{feedback.incident.incident_description}}
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        //Date range picker
        $('#reservation').daterangepicker();
    })
</script>